{% load static %}
<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="FarisTours - Travel and Tours booking">
	<meta name="author" content="Ansonika">
	<title>FarisTours - The best Tours and Excursion at the best price</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="{% static 'ui/img/favicon.ico' %}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="{% static 'ui/img/apple-touch-icon-57x57-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'ui/img/apple-touch-icon-72x72-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'ui/img/apple-touch-icon-114x114-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'ui/img/apple-touch-icon-144x144-precomposed.png' %}">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Satisfy" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="{% static 'ui/css/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'ui/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'ui/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'ui/css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'ui/css/menu.css' %}" rel="stylesheet">
	<link href="{% static 'ui/css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">

	<!-- SPECIFIC CSS -->
	<link href="{% static 'ui/css/jquery.cookiebar.css' %}" rel="stylesheet">
    {% block specific_styles %}

	{% endblock specific_styles %}



	<!-- YOUR CUSTOM CSS -->
	<link href="{% static 'ui/css/custom.css' %}" rel="stylesheet">

	<!-- Modernizr -->
	<script src="{% static 'ui/js/modernizr.js' %}"></script>

	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->

	<!-- Header================================================== -->
	<div id="header_1">
		<header>
			<div id="top_line">
				<div class="container">				
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<a href="tel://212672793718" id="phone_top">+212 672 79 37 18</a><span id="opening">Mon - Sat 8.00/18.00</span>
						</div>
					</div>
					<!-- End row -->
				</div>
				<!-- End container-->
			</div>
			<!-- End top line-->

			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3">
						<div id="logo_home">
							<h1><a href="/" title="City tours travel template">BesTours Travel&amp;Excursion Multipurpose Template</a></h1>
						</div>
					</div>
					<nav class="col-md-9 col-sm-9 col-xs-9">
						<ul id="tools_top">
							<li><a href="#" class="search-overlay-menu-btn"><i class="icon-search-6"></i></a>
							</li>
						</ul>
						<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
						<div class="main-menu">
							<div id="header_menu">
								<img src="{% static 'ui/img/logo_menu.png' %}" width="145" height="34" alt="Bestours" data-retina="true">
							</div>
							<a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
							<ul>
								<li>
									<a href="{% url 'ui:home' %}">Home</a>
									
								</li>
								<li>
									<a href="{% url 'ui:tours' %}">Tours</a>
									
								</li>
								<li>
									<a href="about.html">About us</a>
								</li>
								<li><a href="faq.html">Faq</a>
								</li>
								<li>
									<a href="contacts.html">Contact us</a>
								</li>
							</ul>
						</div>
						<!-- End main-menu -->
					</nav>
				</div>
			</div>
			<!-- container -->
		</header>
		<!-- End Header -->
	</div>
	<!-- End Header 1-->

		{% block content %}
		
		{% endblock content %}

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<h3>Contact the developer:</h3>
					<a href="tel://212672793718" id="phone">+212 672 79 37 18</a>
					<a href="mailto:contact@achraffaris.net" id="email_footer">contact@achraffaris.net</a>
				</div>
				<div class="col-md-2 col-sm-3">
					<h3>About</h3>
					<ul>
						<li><a href="#">About us</a>
						</li>
						<li><a href="#">FAQ</a>
						</li>
						<li><a href="#">Privacy Policy</a>
						</li>
						<li><a href="#">Terms and conditions</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-12">
					<h3>Newsletter</h3>
					<div id="message-newsletter_2">
					</div>
					<form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
						<div class="form-group">
							<input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your email" class="form-control">
						</div>
						<input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
					</form>
				</div>
			</div>
			<!-- End row -->
			<hr>
			<div class="row">
				<div class="col-sm-8">
					<div class="styled-select">
						<select class="form-control" name="lang" id="lang">
							<option value="English" selected>English</option>
							<option value="French">French</option>
							<option value="Spanish">Spanish</option>
							<option value="Russian">Russian</option>
						</select>
					</div>
					<span id="copy">© FarisTours {% now "Y" %} - All rights reserved</span>
				</div>
				<div class="col-sm-4" id="social_footer">
					<ul>
						<li><a href="#"><i class="icon-facebook"></i></a>
						</li>
						<li><a href="#"><i class="icon-twitter"></i></a>
						</li>
						<li><a href="#"><i class="icon-google"></i></a>
						</li>
						<li><a href="#"><i class="icon-instagram"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</footer>
	<!-- End footer -->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_close"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon-search-6"></i>
			</button>
		</form>
	</div>
	<!-- End Search Menu -->

	<!-- COMMON SCRIPTS -->
    
	<script src="{% static 'ui/js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'ui/js/common_scripts_min.js' %}"></script>
	<script src="{% static 'ui/assets/validate.js' %}"></script>
	<script src="{% static 'ui/js/jquery.tweet.min.js' %}"></script>
	<script src="{% static 'ui/js/functions.js' %}"></script>

	<!-- SPECIFIC SCRIPTS -->
    {% block specific_scripts %}
    
    {% endblock specific_scripts %}

</body>

</html>